[user]
	email = wbhorn@alaska.edu
	name = William Horn
[default]
	editor = vim
[core]
	editor = vim
[alias]
	s = status
    plog = log --oneline --graph
    ca = !git add --all && git commit
    b = branch
    co = checkout
    r = reset
    pl = pull
    ps = push
[credential]
    helper = cache --timeout=360000
[push]
	default = simple
