[user]
	email = wbhorn@alaska.edu
	name = William Horn
[default]
	editor = nvim
[core]
	editor = nvim
[alias]
	s = status
    plog = log --oneline --graph
    pl = log --oneline --graph
    ca = !git add --all && git commit
    b = branch
    co = checkout
    r = reset
    plom = pull origin master
    psom = push origin master
[credential]
	helper = cache --timeout=360000
[init]
	defaultBranch = main
	templateDir = /home/wbhorn/.git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
